<template>
  <div class="container">
    <img v-cloak
         v-if="cash"
         v-for="(laast, index) in laastud"
         :key="index"
         class="laast_img"
         src="../assets/laast.png"
         :style="{ position: 'absolute', top: laast.top + 'px', left: laast.left + 'px' }"/>

    <div class="well">
  <h1>Laastukalkulaator</h1>
    <p>Arvestatav keskmine laastu hind 0.90 €</p>
  <div>
    <div class="form-group">
      <h3 v-show="cash" v-cloak>{{ cash + ' €' }}</h3>
      <input class="cash_input form-control-range custom-range" v-model="cash"
             type="range" min="0" step="1" max="9999"
             placeholder="Palju sul raha on?" autofocus>
    </div>

  </div>
  <h2 class="calculate_laast" v-cloak v-if="cash">
      {{ message }}
  </h2>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Calculator',
  data() {
    return {
      cash: 0,
      message: '',
      laastud: [],
    };
  },
  computed: {
    calculateLaastAmount() {
      return parseInt((this.cash / 0.90).toFixed(0), 10);
    },
    checkExponential() {
      return this.cash.includes('e') || this.cash === '';
    },
    checkCashOverflow() {
      return this.cash > 999;
    },
  },
  watch: {
    cash() {
      if (this.checkExponential) {
        this.laastud = [];
        this.message = 'These are not the laast you\'re looking for';
        return;
      }
      if (this.checkCashOverflow) {
        this.laastud = [];
        this.message = 'Kui sul nii palju pappi on, siis mida sa siit otsid? Mine osta parem laastu!';
        return;
      }
      if (parseFloat(this.cash) < 0.9) {
        this.laastud = [];
        this.message = 'Kes ei tööta, see laastu ei pane';
        return;
      }
      this.message = `Sa saad osta ${this.calculateLaastAmount} pakki laastu.`;

      this.laastud = [];
      for (let i = 1; i <= this.calculateLaastAmount; i += 1) {
        if (i > 100) {
          return;
        }

        const left = this.getPosition(window.innerWidth);
        const top = this.getPosition(window.innerHeight) + 50;

        this.laastud.push({ left, top });
      }
    },
  },
  methods: {
    getPosition(type) {
      return Math.floor((Math.random() * (type - 533)) + 1);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .container {
      text-align: center;
    }

    img {
      z-index: -9;
    }

    .cash_input {
      width: 300px;
      margin: 0 auto;
    }

    [v-cloak] {
      display: none;
    }

    .calculate_laast {
      margin-top: 20px;
    }

    .laast_img {
      opacity: 0;
      animation: laast-drop .3s linear forwards;
    }

    @keyframes laast-drop {
      from {
        opacity: 0;
        transform: translateY(-600px);
      }
      to {
        opacity: 1;
        transform : translateY(0);
      }
    }
</style>
